.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    top: 20vh;
    left: 5%;
    width: 90%;
    background-color: white;
    padding: 2rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
}

input {
    font-family: "Raleway", sans-serif;
    border: none;
    border-bottom: 2px solid #ccc;
    line-height: 2em;
    padding-top: 0.8em;
    margin-bottom: 16px;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #000;
}

.error_message{
    color: rgb(207, 2, 2);
}
  
@media (min-width: 768px) {
    .modal {
        width: 40rem;
        left: calc(50% - 20rem);
    }
    input{
        width: 40%;
    }

}
  
@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}